<!DOCTYPE html>
<html>
  <head>
    <title>TerreBlog</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/ie.css" rel="stylesheet">
  </head>
  <body>
 <div class="container_12">
	<!-- header -->
	<div id="hd" class="grid_12">
		<div id="topmenu">
			<ul class="topmenu clearfix">
				<li class="current"><a href="http://blogandweb.com/" title="Inicio">Inicio</a></li>
				<li><a href="" title="Nosotros">Nosotros</a></li>
				<li><a href="" title="Contacto">Contacto</a></li>                
			</ul>
		</div>
		<div id="banner">
			<img src="img/header.jpg" alt="TerreBlog">
		</div>
	</div>  
	<div class="clear"></div>
	<!-- /header -->
	<!-- body -->
		<div id="bd" class="grid_12">
		<div id="main" class="grid_8 alpha">
		  <div id="mn">
			 <div id="post-2784" class="post">
				<div class="posthd clearfix">
					<h2><a href="http://blogandweb.com/javascript/fechas-amigables-blogger-javascript/" title="LLenar RadComBox usando servicios Rest">LLenar RadComBox usando servicios Rest</a></h2>
					<span class="postinfo">
					<a href="http://blogandweb.com/author/francisco/" title="Entradas de Francisco" rel="author">Francisco</a> / <a href="http://blogandweb.com/javascript/fechas-amigables-blogger-javascript/#comments" title="LLenar RadComBox usando servicios Rest">18 Comentarios</a> / <a href="#" title="Leer comentarios">2010</a>			  </span>
				</div>
				<div class="postbd">
					<p>Team, con el objetivo de reducir el tiempo de carga de nuestros formaularios ASP.NEt se ha implementado el servicio RESTFul para carga asincrona de los datos a mostrar en el combo box. El codigo a usar lo pueden descargar del repositorio de GitHUB.
					Asi mismo se incluye un ejemplo de como usarlo tanto en una pagina ASP.NET asi como en un UserControl. Cualquier error detectado por favor actualizarlo usando el Blog respectivo [...]</p>
				</div>
				<div class="postft">
					<p class="leermas"><a href="http://blogandweb.com/javascript/fechas-amigables-blogger-javascript/" title="Fechas más amigables en Blogger">Leer art&iacute;culo completo &rarr;</a></p>
				</div>
			</div>
    		<div id="post-2811" class="post">
				<div class="posthd clearfix">
					<h2><a href="http://blogandweb.com/javascript/firequery/" title="Scripts JQUERY">Scripts JQUERY</a></h2>
					<span class="postinfo">
					<a href="http://blogandweb.com/author/francisco/" title="Scripts JQUERY" rel="author">Francisco</a> / <a href="http://blogandweb.com/javascript/firequery/#comments" title="Scripts JQUERY">Un comentario</a> / <a href="#" title="Leer comentarios">2010</a>			  </span>
				</div>
				<div class="postbd">
					<p>Team, para evitar duplicar funcionalidad en los scripts usado para los diferentes efectos javascript y manejo de DOM usando jQuery se ha creido conveniente centralizar todo el
					codigo en el archivo jQueryTerre que encontraran disponible en el siguiente repositorio.. </p>
				</div>
				<div class="postft">
					<p class="leermas"><a href="http://blogandweb.com/javascript/firequery/" title="FireQuery, extensi&oacute;n para Firebug sobre jQuery">Leer art&iacute;culo completo &rarr;</a></p>
				</div>
			</div>

			</div>
			</div>
			</div>
 </div>
  </body>
</html>