<!DOCTYPE html>
<html>
  <head>
    <title>TerreBlog</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/ie.css" rel="stylesheet">
  </head>
  <body>
 <div class="container_12">
	<!-- header -->
	<div id="hd" class="grid_12">
		<div id="topmenu">
			<ul class="topmenu clearfix">
				<li class="current"><a href="http://blogandweb.com/" title="Inicio">Inicio</a></li>
				<li><a href="" title="Nosotros">Nosotros</a></li>
				<li><a href="" title="Contacto">Contacto</a></li>                
			</ul>
		</div>
		<div id="banner">
			<img src="img/header.jpg" alt="TerreBlog">
		</div>
	</div>  
	<div class="clear"></div>
	<!-- /header -->
	<!-- body -->
		<div id="bd" class="grid_12">
		<div id="main" class="grid_8 alpha">
		  <div id="mn">
			 <div id="post-2784" class="post">
				<div class="posthd clearfix">
					<h2><a href="http://blogandweb.com/javascript/fechas-amigables-blogger-javascript/" title="Enlace permanente a Fechas más amigables en Blogger">Fechas más amigables en Blogger</a></h2>
					<span class="postinfo">
					<a href="http://blogandweb.com/author/francisco/" title="Entradas de Francisco" rel="author">Francisco</a> / <a href="http://blogandweb.com/javascript/fechas-amigables-blogger-javascript/#comments" title="Comentarios en Fechas más amigables en Blogger">18 Comentarios</a> / <a href="#" title="Leer comentarios">2010</a>			  </span>
				</div>
				<div class="postbd">
					<p>Tal como mencionamos en &quot;Fechas más amigables en WordPress&quot;, colocar fechas relativas o el tiempo transcurrido entre dos fechas (ejemplo: Publicado hace 2 días), es más amigable de interpretar que una fecha como tal. Este tipo de fechas son muy comunes en servicios como Twitter o Facebook (ver demo). En Blogger es posible crear también [...]</p>
				</div>
				<div class="postft">
					<p class="leermas"><a href="http://blogandweb.com/javascript/fechas-amigables-blogger-javascript/" title="Fechas más amigables en Blogger">Leer art&iacute;culo completo &rarr;</a></p>
				</div>
			</div>
    		<div id="post-2811" class="post">
				<div class="posthd clearfix">
					<h2><a href="http://blogandweb.com/javascript/firequery/" title="Enlace permanente a FireQuery, extensi&oacute;n para Firebug sobre jQuery">FireQuery, extensi&oacute;n para Firebug sobre jQuery</a></h2>
					<span class="postinfo">
					<a href="http://blogandweb.com/author/francisco/" title="Entradas de Francisco" rel="author">Francisco</a> / <a href="http://blogandweb.com/javascript/firequery/#comments" title="Comentarios en FireQuery, extensi&oacute;n para Firebug sobre jQuery">Un comentario</a> / <a href="#" title="Leer comentarios">2010</a>			  </span>
				</div>
				<div class="postbd">
					<p>FireQuery es una extensión para Firebug dirigida a facilitar el desarrollo con jQuery, uno de los frameworks de javascript más populares. Dos de sus funciones principales son examinar objetos producidos con jQuery y &#8220;jQuerizar&#8221; otros sitios web para manipularlos desde la consola. Descargar FireQuery.</p>
				</div>
				<div class="postft">
					<p class="leermas"><a href="http://blogandweb.com/javascript/firequery/" title="FireQuery, extensi&oacute;n para Firebug sobre jQuery">Leer art&iacute;culo completo &rarr;</a></p>
				</div>
			</div>

			</div>
			</div>
			</div>
 </div>
  </body>
</html>