#sidebar {
	OVERFLOW: hidden
}
#main {
	OVERFLOW: hidden
}
#sidebar .caja {
	WIDTH: 255px
}
PRE CODE {
	WORD-WRAP: break-word
}
#respond TEXTAREA {
	WIDTH: 370px; HEIGHT: 203px
}
#buscador INPUT#b {
	WIDTH: 70px
}
