HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
APPLET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
KBD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
S {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SAMP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRIKE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUB {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
B {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
U {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
I {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CENTER {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; FONT-STYLE: italic; MARGIN: 5px 20px 15px; PADDING-LEFT: 60px; PADDING-RIGHT: 10px; BACKGROUND: url(images/comillas.png) no-repeat 0px 0px; COLOR: #666; QUOTES: none; PADDING-TOP: 0px
}
Q {
	PADDING-BOTTOM: 0px; FONT-STYLE: italic; MARGIN: 5px 20px 15px; PADDING-LEFT: 60px; PADDING-RIGHT: 10px; BACKGROUND: url(images/comillas.png) no-repeat 0px 0px; COLOR: #666; QUOTES: none; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 1px dotted
}
BLOCKQUOTE:before {
	CONTENT: none
}
BLOCKQUOTE:after {
	CONTENT: none
}
Q:before {
	CONTENT: none
}
Q:after {
	CONTENT: none
}
:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
.container_12 {
	WIDTH: 960px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.grid_4 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_8 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.grid_12 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.container_12 .grid_12 {
	WIDTH: 940px
}
.alpha {
	MARGIN-LEFT: 0px
}
.omega {
	MARGIN-RIGHT: 0px
}
.container_12 .grid_4 {
	WIDTH: 300px
}
.container_12 .grid_8 {
	WIDTH: 620px
}
.clear {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: '.'
}
.clearfix {
	DISPLAY: inline-block
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
BODY {
	FONT: 13px/1.5 Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif; BACKGROUND: #4e5154; COLOR: #333
}
A {
	COLOR: #666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A:focus {
	OUTLINE-STYLE: dotted; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 1px
}
A:hover {
	
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
P {
	MARGIN: 0px 0px 13px
}
H3 {
	MARGIN: 0px 0px 13px
}
H4 {
	MARGIN: 0px 0px 13px
}
H5 {
	MARGIN: 0px 0px 13px
}
.postbd H2 {
	MARGIN: 0px 0px 13px
}
.postbd UL {
	MARGIN: 0px 0px 13px
}
.postbd OL {
	MARGIN: 0px 0px 13px
}
.postbd DL {
	MARGIN: 0px 0px 13px
}
.postbd H2 {
	BORDER-BOTTOM: #eee 1px solid
}
.postbd H3 {
	BORDER-BOTTOM: #eee 1px solid
}
.postbd H4 {
	BORDER-BOTTOM: #eee 1px solid
}
.postbd SMALL {
	FONT-SIZE: 85%
}
INS {
	TEXT-DECORATION: none
}
DEL {
	COLOR: #999; TEXT-DECORATION: line-through
}
HR {
	BORDER-BOTTOM: #ccc 0px solid; BORDER-LEFT: #ccc 0px solid; HEIGHT: 0px; CLEAR: both; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 0px solid
}
H1 {
	FONT-SIZE: 25px
}
H2 {
	FONT-SIZE: 24px
}
H3 {
	FONT-SIZE: 21px
}
H4 {
	FONT-SIZE: 17px
}
H5 {
	FONT-SIZE: 15px
}
H6 {
	FONT-SIZE: 14px
}
TABLE {
	MARGIN: 0px auto 1.4em; BORDER-SPACING: 0; WIDTH: 90%; BORDER-COLLAPSE: collapse
}
TH {
	BORDER-BOTTOM: #ccc 2px solid; FONT-WEIGHT: 700
}
TD {
	BORDER-BOTTOM: #ddd 1px solid
}
TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
TFOOT {
	FONT-STYLE: italic
}
CAPTION {
	BACKGROUND: #ffc
}
.fr {
	FLOAT: right
}
.fl {
	FLOAT: left
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 13px 0px; PADDING-LEFT: 0px; WIDTH: 99%; PADDING-RIGHT: 0px; FONT-FAMILY: Georgia, monospace; BACKGROUND: url(images/codigo.png) no-repeat 0px 0px; FONT-SIZE: 12px; PADDING-TOP: 12px
}
PRE CODE {
	BORDER-BOTTOM: #eee 3px solid; TEXT-ALIGN: left; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #333; OVERFLOW: auto; BORDER-TOP: #eee 3px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 5px
}
.aligncenter {
	TEXT-ALIGN: center !important; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
.centrado {
	TEXT-ALIGN: center !important; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 0px
}
P.icofotos {
	TEXT-ALIGN: center !important; COLOR: #999; FONT-SIZE: 11px
}
P.wp-caption-text {
	TEXT-ALIGN: center !important; COLOR: #999; FONT-SIZE: 11px
}
P.icofotos A {
	BORDER-BOTTOM: #999 1px dotted; COLOR: #999
}
P.wp-caption-text A {
	BORDER-BOTTOM: #999 1px dotted; COLOR: #999
}
.alignleft {
	MARGIN: 0px 20px 20px 0px; FLOAT: left
}
.izquierda {
	MARGIN: 0px 20px 20px 0px; FLOAT: left
}
.alignright {
	MARGIN: 0px 0px 20px 20px; FLOAT: right
}
.derecha {
	MARGIN: 0px 0px 20px 20px; FLOAT: right
}
#hd {
	FONT-SIZE: 15px
}
#topmenu {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#banner {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#menu {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#topmenu {
	FONT-FAMILY: verdana, arial, helvetica, georgia; BACKGROUND: #1c1c1c; HEIGHT: 25px; COLOR: #898989
}
#topmenu UL {
	POSITION: relative; OVERFLOW: hidden
}
#topmenu UL LI {
	FLOAT: left
}
#topmenu UL LI A {
	Z-INDEX: 10; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 7px; COLOR: #fff; FONT-SIZE: 11px; PADDING-TOP: 0px
}
#topmenu LI.back {
	Z-INDEX: 8; POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 3px; BACKGROUND: url(images/imagenes.png) no-repeat right 0px; HEIGHT: 15px; TOP: 5px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#topmenu LI.back .left {
	BACKGROUND: url(images/imagenes.png) no-repeat 0px 0px; HEIGHT: 15px
}
#banner {
	BORDER-BOTTOM: #cdcdcd 1px solid; PADDING-BOTTOM: 1px; BACKGROUND: url(images/imagenes.jpg) #fff repeat-x 0px -210px; HEIGHT: 60px
}
#banner H1 A {
	TEXT-INDENT: -8000px; WIDTH: 224px; DISPLAY: block; BACKGROUND: url(images/imagenes.jpg) no-repeat 0px -140px; HEIGHT: 60px; OVERFLOW: hidden
}
#banner H2 A {
	TEXT-INDENT: -8000px; WIDTH: 224px; DISPLAY: block; BACKGROUND: url(images/imagenes.jpg) no-repeat 0px -140px; HEIGHT: 60px; OVERFLOW: hidden
}
#banner SPAN A {
	TEXT-INDENT: -8000px; WIDTH: 275px; DISPLAY: block; BACKGROUND: url(images/imagenes.jpg) no-repeat 0px 0px; HEIGHT: 60px; OVERFLOW: hidden
}
#banner SPAN A:hover {
	BACKGROUND-POSITION: 0px -70px
}
#bd {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 15px
}
#mn {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.post {
	MARGIN: 0px 0px 30px
}
.posthd {
	BORDER-BOTTOM: #e2e2e2 2px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #afd946; PADDING-TOP: 0px
}
.posthd A:hover {
	COLOR: #333
}
.postft A:hover {
	COLOR: #afd946
}
.fecha {
	TEXT-ALIGN: center; MARGIN: 0px 10px 0px 0px; WIDTH: 46px; DISPLAY: block; BACKGROUND: url(images/imagenes.png) no-repeat 0px -100px; HEIGHT: 46px; COLOR: #fff; FONT-SIZE: 22px
}
.fecha SMALL {
	MARGIN-TOP: -10px; DISPLAY: block; FONT-SIZE: 13px
}
.posthd H2 {
	LINE-HEIGHT: 25px; LETTER-SPACING: -0.01em; COLOR: #000; text-shadow: 0 2px 0 #CDCDCD
}
.posthd H2 A {
	LINE-HEIGHT: 25px; LETTER-SPACING: -0.01em; COLOR: #000; text-shadow: 0 2px 0 #CDCDCD
}
.posthd H1 {
	LINE-HEIGHT: 25px; LETTER-SPACING: -0.01em; COLOR: #000; text-shadow: 0 2px 0 #CDCDCD
}
.posthd H1 A {
	LINE-HEIGHT: 25px; LETTER-SPACING: -0.01em; COLOR: #000; text-shadow: 0 2px 0 #CDCDCD
}
.postinfo {
	LINE-HEIGHT: 13px; FONT-SIZE: 11px
}
.postad {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 13px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.postbd {
	MARGIN: 0px 0px 15px
}
.postbd P {
	LINE-HEIGHT: 160%; MARGIN: 0px 0px 20px
}
.postbd A {
	BORDER-BOTTOM: #b86435 1px dotted; COLOR: #b86435
}
.postbd A:visited {
	BORDER-BOTTOM: #b86435 1px dotted; COLOR: #b86435
}
.commentcontent A {
	BORDER-BOTTOM: #b86435 1px dotted; COLOR: #b86435
}
.commentcontent A:visited {
	BORDER-BOTTOM: #b86435 1px dotted; COLOR: #b86435
}
.nrcontenido A {
	BORDER-BOTTOM: #b86435 1px dotted; COLOR: #b86435
}
.nrcontenido A:visited {
	BORDER-BOTTOM: #b86435 1px dotted; COLOR: #b86435
}
.postbd LI {
	MARGIN-LEFT: 20px
}
.postbd DD {
	MARGIN-LEFT: 20px
}
.postbd UL LI {
	LIST-STYLE-POSITION: inside; TEXT-ALIGN: justify; LIST-STYLE-TYPE: square; MARGIN: 0px 0px 5px
}
.postbd OL LI {
	LIST-STYLE-TYPE: decimal
}
.postft {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.postft P {
	MARGIN: 0px 0px 2px
}
.leermas A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f0f0f0; COLOR: #333; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 3px
}
A.more-link {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f0f0f0; COLOR: #333; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 3px
}
.leermas A:hover {
	BACKGROUND: #999; COLOR: #fff
}
A.more-link:hover {
	BACKGROUND: #999; COLOR: #fff
}
.postft IMG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 10px; PADDING-RIGHT: 0px; HEIGHT: 10px; PADDING-TOP: 0px
}
.acomentario IMG {
	BACKGROUND: url(images/imagenes.png) no-repeat 0px -40px
}
.archivo IMG {
	BACKGROUND: url(images/imagenes.png) no-repeat 0px -60px
}
.etiquetas IMG {
	BACKGROUND: url(images/imagenes.png) no-repeat 0px -80px
}
.postrapido {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 10px
}
.postrapido .miniatura {
	BORDER-BOTTOM: #eee 2px solid; BORDER-LEFT: #eee 2px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 10px 0px 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #eee 2px solid; BORDER-RIGHT: #eee 2px solid; PADDING-TOP: 2px
}
.notarapida {
	BORDER-BOTTOM: #eee 2px solid; BORDER-LEFT: #eee 2px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 10px 0px 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #eee 2px solid; BORDER-RIGHT: #eee 2px solid; PADDING-TOP: 2px
}
.postrapido .miniatura IMG {
	WIDTH: 100px; HEIGHT: 75px
}
.notarapida IMG {
	WIDTH: 100px; HEIGHT: 75px
}
#encabezados H2 {
	BORDER-BOTTOM: #cdcdcd 2px solid; MARGIN: 0px 0px 20px; COLOR: #000000; FONT-SIZE: 32px
}
.taxdescription {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #eeeeee; MARGIN: 0px 0px 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
#compartir {
	MARGIN: 0px 0px 30px
}
#compartir H4 {
	MARGIN: 0px
}
#compartir P {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #999; FONT-SIZE: 11px; PADDING-TOP: 0px
}
#compartir UL {
	LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: square
}
#compartir .fr A {
	BACKGROUND-IMAGE: url(images/imagenes.png); TEXT-INDENT: -9999px; MARGIN: 0px 12px 10px 0px; WIDTH: 32px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 32px
}
.social {
	WIDTH: 220px
}
.masart {
	WIDTH: 360px
}
.irss {
	BACKGROUND-POSITION: 0px -265px
}
.ifb {
	BACKGROUND-POSITION: -40px -265px
}
.itw {
	BACKGROUND-POSITION: -80px -265px
}
.idl {
	BACKGROUND-POSITION: 0px -300px
}
.isu {
	BACKGROUND-POSITION: -40px -300px
}
.bcr {
	BACKGROUND-POSITION: -80px -300px
}
#compartir .shorturl {
	DISPLAY: inline; COLOR: #999; FONT-SIZE: 11px
}
#compartir FORM {
	DISPLAY: inline; COLOR: #999; FONT-SIZE: 11px
}
#compartir INPUT {
	BORDER-BOTTOM: silver 1px inset; BORDER-LEFT: silver 1px inset; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; WIDTH: 143px; PADDING-RIGHT: 4px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: silver 1px inset; BORDER-RIGHT: silver 1px inset; PADDING-TOP: 3px
}
#buscaform {
	BORDER-BOTTOM: #cdcdcd 2px solid; BORDER-LEFT: #cdcdcd 2px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 500px; PADDING-RIGHT: 15px; BACKGROUND: #ebebeb; BORDER-TOP: #cdcdcd 2px solid; BORDER-RIGHT: #cdcdcd 2px solid; PADDING-TOP: 15px
}
#sf {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 25px; PADDING-LEFT: 2px; WIDTH: 460px; PADDING-RIGHT: 2px; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 2px
}
#author-info {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 10px
}
.author-avatar IMG {
	FLOAT: left
}
#author-bio {
	WIDTH: 490px; FLOAT: right
}
#author-bio P {
	MARGIN: 5px 0px 0px; FONT-SIZE: 11px
}
#author-info A {
	COLOR: #b86435
}
.meta2 {
	BORDER-BOTTOM: #eee 1px solid; MARGIN: 0px 0px 10px; FONT-SIZE: 11px
}
#breadcrumbs {
	WIDTH: 550px; FLOAT: left
}
#translate {
	WIDTH: 50px; FLOAT: right
}
#translate A {
	TEXT-INDENT: -9999px; WIDTH: 16px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 11px; OVERFLOW: hidden
}
#us {
	BACKGROUND-IMAGE: url(images/us.gif); MARGIN: 0px 10px 0px 0px
}
#br {
	BACKGROUND-IMAGE: url(images/br.gif)
}
#comments H4 {
	BORDER-BOTTOM: #e2e2e2 2px solid; MARGIN: 30px 0px 5px; COLOR: #000
}
#respond H4 {
	BORDER-BOTTOM: #e2e2e2 2px solid; MARGIN: 30px 0px 5px; COLOR: #000
}
#trackbacks H4 {
	BORDER-BOTTOM: #e2e2e2 2px solid; MARGIN: 30px 0px 5px; COLOR: #000
}
.commentlist LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 15px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.metacomment {
	FONT-WEIGHT: bold
}
.metacomment A {
	BORDER-BOTTOM: #333 1px dotted; COLOR: #333
}
.metacomment SMALL A {
	BORDER-BOTTOM: medium none; COLOR: #666; FONT-WEIGHT: normal
}
.metacomment A:hover {
	BORDER-BOTTOM: #afd946 1px dotted; COLOR: #afd946
}
.metacomment SMALL A:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.metacomment SMALL {
	COLOR: #afd946; FONT-SIZE: 11px
}
.even {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.byuser.even .metacomment {
	BACKGROUND: url(images/imagenes.png) #fff no-repeat right -446px
}
.byuser .metacomment {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 70px; PADDING-TOP: 0px
}
.byuser.odd .metacomment {
	BACKGROUND: url(images/imagenes.png) #f8f8f8 no-repeat right -426px
}
#main .odd {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; BACKGROUND-COLOR: #f8f8f8; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid
}
.gravatar IMG {
	BORDER-BOTTOM: #eee 2px solid; BORDER-LEFT: #eee 2px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 10px 10px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: right; BORDER-TOP: #eee 2px solid; BORDER-RIGHT: #eee 2px solid; PADDING-TOP: 2px
}
.odd .gravatar IMG {
	BORDER-BOTTOM: #cdcdcd 2px solid; BORDER-LEFT: #cdcdcd 2px solid; BORDER-TOP: #cdcdcd 2px solid; BORDER-RIGHT: #cdcdcd 2px solid
}
.responderc {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #efefef; PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; DISPLAY: none; COLOR: #999999; FONT-SIZE: 11px; CURSOR: pointer; PADDING-TOP: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px
}
.respuestawrap {
	TEXT-ALIGN: right; HEIGHT: 15px
}
#respond .respond-info {
	COLOR: #999; FONT-SIZE: 11px
}
#respond P.respond-author {
	MARGIN: 0px; FLOAT: left; HEIGHT: 1px !important; OVERFLOW: hidden
}
#respond .respond-author LABEL {
	MARGIN-LEFT: -9999px
}
#respond .respond-author INPUT {
	MARGIN-LEFT: -9999px
}
#respond TEXTAREA {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 400px; PADDING-RIGHT: 5px; HEIGHT: 195px; COLOR: #333; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 5px
}
#respond LABEL {
	DISPLAY: block; FONT-WEIGHT: bold
}
#respond P.subscribe-to-comments {
	CLEAR: both; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
#respond P.subscribe-to-comments LABEL {
	DISPLAY: inline; FONT-WEIGHT: normal
}
#respond .subscribe-to-comments INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#respond INPUT {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; WIDTH: 170px; PADDING-RIGHT: 5px; COLOR: #333; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 3px
}
#respond INPUT#submit {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #999; MARGIN: 13px 0px 0px; WIDTH: 180px; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#respond #subscribe {
	WIDTH: auto
}
#trackbacks {
	MARGIN: 0px 0px 15px
}
#trackbacks OL {
	LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: square
}
#sidebar {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#wix {
	MARGIN: 0px 0px 10px
}
#sd {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.caja {
	BORDER-BOTTOM: #eee 3px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 15px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #eee 3px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 10px
}
.caja LI {
	BORDER-BOTTOM: #eee 1px solid; LINE-HEIGHT: 21px; MARGIN: 0px 10px 0px 0px; WIDTH: 46%; DISPLAY: block; FLOAT: left
}
.caja A {
	DISPLAY: block
}
.tabs A {
	DISPLAY: block
}
.caja LI A:hover {
	BACKGROUND: #f8f8f8
}
.ui-tabs-panel LI A:hover {
	BACKGROUND: #f8f8f8
}
#sidebar H4 {
	MARGIN: 0px; FONT-SIZE: 15px
}
#sidebar H4 A {
	MARGIN: 0px; FONT-SIZE: 15px
}
.tabs H4 A {
	MARGIN: 0px; FONT-SIZE: 15px
}
#buscador {
	MARGIN: 0px 0px 15px
}
#buscador INPUT#s {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; PADDING-BOTTOM: 3px; FONT-STYLE: italic; PADDING-LEFT: 10px; WIDTH: 185px; PADDING-RIGHT: 10px; FLOAT: left; COLOR: #999999; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; PADDING-TOP: 3px
}
#buscador INPUT#b {
	BORDER-BOTTOM: #a0a0a0 1px solid; BORDER-LEFT: #a0a0a0 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #cdcdcd; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; COLOR: #ffffff; FONT-SIZE: 12px; BORDER-TOP: #a0a0a0 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #a0a0a0 1px solid; PADDING-TOP: 3px
}
#banners125 {
	BORDER-BOTTOM: #eee 3px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; PADDING-LEFT: 13px; PADDING-RIGHT: 0px; BORDER-TOP: #eee 3px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 10px
}
#bsap_1241063 {
	MARGIN: 10px 0px 0px
}
#feeds {
	BACKGROUND: url(images/twitter.png) #fff no-repeat right center
}
#feeds UL {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 80%; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#feeds LI {
	BACKGROUND-IMAGE: url(images/imagenes.png); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 16px; MARGIN: 3px 0px; PADDING-LEFT: 25px; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; FLOAT: none; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#feeds LI A:hover {
	BACKGROUND-COLOR: transparent; COLOR: #222
}
.sfb {
	BACKGROUND-POSITION: 0px -155px
}
.semail {
	BACKGROUND-POSITION: 0px -176px
}
.sfeed {
	BACKGROUND-POSITION: 0px -195px
}
A.stwitter {
	TEXT-INDENT: -1000px; MARGIN: 10px 0px 0px; WIDTH: 146px; BACKGROUND: url(images/imagenes.png) no-repeat 0px -215px; HEIGHT: 20px; OVERFLOW: hidden
}
A.stwitter:hover {
	BACKGROUND: url(images/imagenes.png) no-repeat 0px -235px
}
.tabs {
	BORDER-BOTTOM: #eee 3px solid; MARGIN: 0px 0px 15px
}
.ui-tabs-nav {
	BORDER-BOTTOM: #eee 3px solid; DISPLAY: block
}
.ui-tabs-nav LI {
	PADDING-BOTTOM: 5px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 5px; WIDTH: auto; PADDING-RIGHT: 5px; BACKGROUND: #f8f8f8; FLOAT: left; PADDING-TOP: 5px
}
.ui-tabs-nav LI H4 {
	LINE-HEIGHT: 15px; MARGIN: 0px
}
#sidebar .ui-tabs-nav LI H4 A {
	COLOR: #666
}
.ui-tabs-nav LI.ui-tabs-selected {
	BACKGROUND: #eee
}
#sidebar .ui-tabs-nav LI.ui-tabs-selected H4 A {
	COLOR: #333
}
.ui-tabs-panel {
	BORDER-BOTTOM: #eee 0px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #eee 0px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 10px
}
.ui-tabs-panel LI {
	BORDER-BOTTOM: #eee 1px solid; LINE-HEIGHT: 21px; LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.ui-tabs-hide {
	DISPLAY: none !important
}
.tabs #tags A {
	DISPLAY: inline
}
.tabs #tags A:hover {
	BORDER-BOTTOM: #666 1px solid
}
#ft {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 15px; BACKGROUND: url(images/piedepagina.png) #1c1c1c no-repeat 0px bottom; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 11px; PADDING-TOP: 10px
}
#ft P {
	MARGIN-BOTTOM: 0px
}
#ft A {
	BORDER-BOTTOM: #fff 1px solid; COLOR: #fff
}
#ft SPAN A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#ft A:hover {
	BORDER-BOTTOM: #afd946 1px solid; COLOR: #afd946
}
.nav {
	TEXT-ALIGN: center; COLOR: #666
}
.nav A {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #666; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 2px
}
.nav A:hover {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; BACKGROUND: #cdcdcd; COLOR: #fff; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; TEXT-DECORATION: none
}
.nav .on {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; BACKGROUND: #cdcdcd; COLOR: #fff; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid; TEXT-DECORATION: none
}
.nav .on {
	PADDING-BOTTOM: 2px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #cdcdcd; COLOR: #fff; PADDING-TOP: 2px
}
#navegacion SPAN {
	COLOR: #333 !important; FONT-WEIGHT: bold
}
#navegacion UL LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
#navegacion UL LI A {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px 6px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; FLOAT: left; COLOR: #999; BORDER-TOP: #dfdfdf 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #dfdfdf 1px solid; PADDING-TOP: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
#navegacion UL LI A {
	COLOR: #0083c2; TEXT-DECORATION: none
}
#navegacion UL LI A:hover {
	TEXT-DECORATION: underline
}
.postbd P.desplantillas {
	TEXT-ALIGN: center; FONT-SIZE: 11px
}
.desplantillas SPAN {
	MARGIN: 0px 15px 0px 0px
}
.autorbw {
	MARGIN-BOTTOM: 15px
}
.infoabw {
	WIDTH: 83%; FLOAT: right
}
IMG.avatarbw {
	BORDER-BOTTOM: #cdcdcd 3px solid; BORDER-LEFT: #cdcdcd 3px solid; PADDING-BOTTOM: 1px; MARGIN: 0px 10px 0px 0px; PADDING-LEFT: 1px; WIDTH: 80px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 80px; BORDER-TOP: #cdcdcd 3px solid; BORDER-RIGHT: #cdcdcd 3px solid; PADDING-TOP: 1px
}
.nombrebw {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.socialbw {
	FONT-SIZE: 80%
}
